
@media (min-width: 1024px) 
{
    body {
        height: 100vh;
    }
}

$color1: tomato;

nav {
   background-color: $color1;
    margin: 0%;
}

main {
    background-color: goldenrod;
}

.menu1 {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    display: inline;
    margin: 10px;
    border-radius: 5px;
    background: white;
    padding: 6px;
}

.text {
    margin: 20px;
    padding-left: 40px;
}

.p1 {
    img {
        max-width: 1100px;
        display: block;
        margin: auto;
        padding: 20px;
    }
}

.gallery {
    img {

        border: 2px solid #ddd;
        border-radius: 8px;
        padding: 2px;
        width: 150px;
    }
}

h1 {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    color: white;
    display: none;
}

h3 {
    position: absolute;
    margin-top: 170px;
    margin-left: 100px;
    color: white;
    display: none;

}

section {
    .gallery {
        margin-top: 10px;
        margin-left: 50px;
        width: 180px;
        display: inline-block;
    }
}

.gallery {
    img {
        margin-right: 20px;
        width: 100%;
        height: auto;
    }
}

.desc {
    text-align: center;
    padding-bottom: 40px;
}

.pie {
    background-color: gray;
    text-align: center;
    padding: 30px;
    display: block;
}

footer p {
    color: $color1;
}

.banner {
    width: 100%;
    height: auto;
    max-width: 900px;
}

.menu1 {
    display: flex;
    flex-direction: row;
}

.p1 {
    .text {
        .gallery {
            display: flex;
            flex-flow: row wrap;
        }
    }
}

    .contenedor {
        display: flex;
    }

    .contenedor {
        div {
            width: 50%;
        }
    }

    .contenedor {
        div {
            article {
                .gallery {
                    display: flex;
                }
            }
        }
    }
            .p2 {
                img {
                    max-width: 300px;
                    min-width: 500px;
                    margin-right: 20px;
                    padding-top: 40px;
                }
            }
            .section3 {
                img {
                    padding-bottom: 40px;
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }

            .colum {
                img {
                    position: relative;
                    float: left;
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                }
            }

            .gallery {
                p {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                }
            }

            .section3 {
                margin-right: 20px;
                height: auto;
                margin-top: 10px;
                margin-left: 50px;
            }

            h2 {
                padding-bottom: 30px;
                text-align: center;
            }
         
            .minidesc {
                width: 200px;
                height: 50px;
}